
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  color: #6b6f74;
  background-color: #e6e6e6;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/moroccan-flower-pattern/");
  background-repeat: repeat;
}

.site-header {
  background-color: white;
  border-bottom: 2px solid #d7d7d7;
}

.header-inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.name-tab {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 10px 22px;
  font-weight: bold;
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav li {
  margin-left: 14px;
}

.top-nav a {
  text-decoration: none;
  color: #2f7680;
  font-weight: bold;
}

.card {
  background-color: white;
  border: 1px solid #d7d7d7;
  padding: 18px;
}

.card hr {
  border: none;
  border-top: 2px solid #d7d7d7;
  margin: 10px 0;
}

.profile {
  float: left;
  width: 240px;
  height: 240px;
  margin: 0 16px 12px 0;
  border: 6px solid white;
}

.icon-row {
  display: flex;
  margin-top: 10px;
}

.icon-btn {
  width: 56px;
  height: 46px;
