body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('back.jpg'); 
    background-repeat: repeat;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    display: flex;
    margin: 20px;
}

section {
    flex: 3; 
    padding: 20px;
}

.profile-img {
    float: left; 
    margin-right: 20px;
    width: 220px; 
}

aside {
    flex: 1; 
    background-color: #f4f4f4;
    padding: 15px;
    margin-left: 20px;
}

aside h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}